*{
    margin:0px;
    padding:0px;
}
body
{
    background-image: url('homeimage.jpg');
     /* background-size: 1000px; */
}
.contaainer
{
    margin:0px;
}
.row div{

    background-color: rgb(0, 0, 0,0.7);
}
#logo img{
    position:relative;
    left:-50px;
    height:100px;
    margin-right: 80px;
}
#logo ,#lang,#btn1
{
  display: flex;
  align-items: center;
  justify-content: center;
}
#lang button{
    background-color: rgb(0, 0, 0,0.1);
    width:90px;
    padding:3px;
    border-radius: 2px;
    margin:10px;
    border:0.5px solid white;
    color:white;
}
#btn1 button{
    position: relative;
    float: right;
    background-color: red;
    color:white;
    border-radius: 5px;
    padding:3px 6px 3px 6px;
    font-family:Arial, Helvetica, sans-serif;
}
section{
    background-color: rgb(0, 0, 0,0.7);
    margin:0px;
}
.container
{
    padding:130px 50px 50px 50px;
    /* margin-top:50px; */
    text-align: center;
    color:white;
    height:640px;
}
.container h1
{
    font-size: 46px;   
    margin-bottom:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container h2
{
    font-size: 24px;
    opacity: 0.84;
    margin:20px 0px 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container h3{
    font-size:20px;
    padding:10px;
    opacity:0.95;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:10px;
    margin-bottom:30px;
}
.special
{
    width:750px;
    margin:auto;
    padding:0px 100px 0px 100px;
}
.special .row input,.special .row button
{
    padding:18px 10px 18px 20px;
    margin:2px;
    border-radius:10px;
    background-color: rgb(0, 0, 0,0.1);
    color:white;
}
.special .row button{
    background-color: red;
    font-size:20px;
    border-radius:2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.special .row input{
    border:0.3px solid white
}
.special .row input::placeholder
{
    color:white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.9;
}
.contaainer2 img
{
    height:200px;
}
#imgdis
{
    height :280px;
    width:420px;
}
.contaainer2
{
    height:600px;
    background-color:red;

}
.col-lg-6
{
    margin: 0px;
    padding-left: 100px;
    height:400px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: rgb(3, 0, 0);
    z-index: 100;
    color:white;
}
.col-lg-6 h1{
    color:white;
    text-align: left;
}
#second
{
    border-top: 8px solid rgb(83, 80, 80);
    /* border-bottom:  8px solid rgb(83, 80, 80); */
    background-color: black;
    padding:30px;
    height:550px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
#element
{
    color:white;
    padding-left: 100px;
    font-size: 22px;
}
#element h1{
    font-size:3.0rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:550px;
}
#element p{
    width:650px;
    padding:20px 20px 20px 0px;;
}
#img2
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4
{
    width:100%;
    color:white;
    border-top: 8px solid gray;
}
.section4 .row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
padding:80px;
    background-color:rgb(0, 0, 1);

}
#fourth h1
{
    text-align: center;
    padding: 10px;
    margin:10px 0px 40px 0px;;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#fourth div
{
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:10px;
    padding:25px 10px 25px 40px;
    background-color: rgb(46, 45, 45);;
    font-display: block;
}
#fourth div:hover{
    cursor: pointer;
    background-color: rgb(63, 62, 62);
    border:0.5px solid white;
}
.last
{
    background-color: black;
    color:white;
    padding-bottom: 60px;
}
 .last h3
 {
    font-size:22px;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 20px;
 }

